*.pyc
logs/
.vscode
*.egg-info/
*.html
catkin_ws/build
catkin_ws/devel
catkin_ws/install
assets/catkin
offworld_gym/envs/gazebo/catkin_ws
scripts/gymshell.sh
models/
*.h5f
*.obj
*.shelve
*.dill
docs/_build

benchmark/PPO-Continuous.zip
benchmark/SAC-Continuous-0.1
benchmark/SAC-Continuous-0.2
benchmark/SAC-Continuous-0.05
benchmark/SAC-Continuous-auto-0.2
benchmark/SAC-Continuous-auto-0.25
benchmark/TD3-Continuous.zip
